
<br/>


<!-- <div class="container"> -->
    <!-- <div class="row">
        <div class="col-md-12">
            <div class="jumbotron"> -->
                <h1 class="text-center">Product-Catalog(ANGULAR ASSIGNMENT)</h1>
                <div class="container col-md-10">
                <div class="jumbotron col-md-12">
                <h1 class="text-center">Index</h1>
                <ol>
                    <li> <button type="button" class="btn btn-danger my-3" a routerLink = "/home">Home</button> <br>
                   
                    </li>
        
                    <li> <button type="button" class="btn btn-danger my-3" a routerLink = "/category">Categories</button> <br>
                        
                           <h5>
                               <div class="container">
                        a. Enter a Category.<br>
                        b. List all Category.<br>
                        c. Delete a Category (Enter Short Code or ID to delete)<br>
                        d. Search a Category(By Id,Name)
                            </div>
                        </h5> 
                        
                     </li>
                     <li> <button type="button" class="btn btn-danger my-3" a routerLink = "/product">Products</button> <br>
                           <h5> <div class="container">
                                
                        a. Enter a Product.<br>
                        b. List all products.<br>
                        c. Delete a Product (Enter Short Code or ID to delete)<br>
                        d. Search a Product(By Id,Name,ShortCode, Selling Price )
                            </div>
                        </h5>
                        
                     </li>
        
        
                   
                    
                </ol>
            </div>
            </div>
            <!-- </div>
        </div>
    </div> -->
<!-- </div> -->

